/* ------- Fonts ------- */

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

/* ------- Setup ------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    box-shadow: none;
    color: var(--color--dark);
    transition: all 280ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    display: unset;
}
.grecaptcha-badge {
    visibility: hidden !important;
}

/* ------- Values (Root Variables) ------- */

:root {
    --color--primary: #9aa283;
    --color--secondary: #ebeee3;
    --color--info: #4a90e2;
    --color--success: #82dd55;
    --color--warning: #edb95e;
    --color--error: #e23636;
    --color--light: #f8f8f8;
    --color--dark: #313131;
    --color--white: white;
    --success-msg: #9aa283;
    --error-msg: #f8bcbc;
    --warning-msg: #f9e0b2;

    --rounded-box: 3px;
    --rounded-elem: 1px;
    --rounded-badge: var(--rounded-elem);
    --animation-elem: 0.25s;
    --animation-input: 0.2s;
    --btn-focus-scale: 0.95;
    --border-elem: 1px;
    --border-btn: 2px;
    --tab-border: 1px;

    --swiper-navigation-color: var(--color--primary);
    --swiper-pagination-color: var(--color--primary);
    --swiper-pagination-bullet-opacity-inactive: 10%;
    --selection-text: var(--color--light);
    --color--selection: #787e66;

    --breakpoint-desktop: 1453px;
    --breakpoint-tablet: 768px;
    --breakpoint-mobile-h: 568px;
    --breakpoint-mobile-v: 320px;
}

/* ------- Typography ------- */

h1,
h2,
h3,
h4,
h5 {
    font-family: "Alegreya", serif;
    margin: 0;
    font-weight: 400;
    color: var(--color--dark);
}
h1 {
    font-size: 3.053rem;
    line-height: 1;
}
h2 {
    font-size: 2.442rem;
    line-height: 1;
}
h3 {
    font-size: 1.954rem;
    line-height: 1;
}
h4 {
    font-size: 1.563rem;
    line-height: 1;
}
h5 {
    font-size: 1.2rem;
    line-height: 1;
    opacity: 0.9;
}

small {
    font-size: 0.8rem; /* 12px */
    line-height: 1;
}

/*---------Scroll Bar---------*/

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
}

::-webkit-scrollbar-thumb {
    background: var(--color--primary);
}

::-webkit-scrollbar-thumb:hover {
    background: #7e836f;
}

/*--------- Elements ---------*/

.text-decor-both {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
}

.text-decor-both::before,
.text-decor-both::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color--dark);
    justify-self: center;
}

.text-decor-both::before {
    justify-self: end;
}

.text-decor-both::after {
    justify-self: baseline;
}

.text-decor-right {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
}

.text-decor-right::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color--dark);
    justify-self: center;
}

.text-decor-right::after {
    justify-self: baseline;
}

.link {
    font-weight: 600;
    color: #4b5563;
}

.link:hover {
    color: #1f2937;
}

.divider {
    display: flex;
    align-items: center;
    color: #0000001e;
    margin: 1rem;
}

.divider::before,
.divider::after {
    flex: 1;
    content: "";
    padding: 0.5px;
    background-color: #0000001e;
    margin: 5px;
}

.link-basic {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    box-shadow: none;
}

.label {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color--dark);
    background-color: transparent;
}

a {
    text-decoration: none;
}

/*--------- Inputs ---------*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="url"],
textarea,
select {
    padding: 0.5rem;
    width: 100%;
    outline: 1px solid #ddd;
    border: none;
    border-radius: var(--rounded-elem);
    margin: 1px 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    outline: 1px solid var(--color--primary);
    box-shadow: none;
}

textarea {
    resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid #ddd;
    margin-right: 0.5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    vertical-align: middle; /* Ensure proper alignment with text */
    position: relative; /* Needed for absolute positioning of pseudo-elements */
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"] {
    border-radius: var(--rounded-elem);
}

/* Checked States */
input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: var(--color--primary);
    border: 1px solid var(--color--primary);
}

/* Hover and Focus States */
input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
    border: 1px solid var(--color--primary);
}

/* Checkmark for Checkboxes */
input[type="checkbox"]:checked::before {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em; /* Adjust size as needed */
    color: var(--color--white); /* White checkmark */
}

/* Circle for Radio Buttons */
input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color--white); /* White circle */
}

button {
    padding: 12px 24px;
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color--light);
    text-transform: uppercase;
    background-color: var(--color--primary);
    border: var(--border-elem) solid transparent;
    border-radius: var(--rounded-elem);
    transition: all var(--animation-elem) ease-in-out;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

button::not(.btn-secondary, .btn-primary):hover {
    scale: 1.02;
}

button:disabled,
button[disabled] {
    background-color: #ddd;
    color: #aaa;
}

.btn-primary,
.btn-secondary {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
}

.btn-primary::before,
.btn-primary::after {
    content: "";
    width: 0;
    height: 1px; /* Thickness of the line */
    background-color: var(--color--light); /* Color of the line */
    transition: all 0.15s ease-in-out;
}

.btn-secondary {
    color: var(--color--primary);
    background-color: transparent;
    border: 1px solid var(--color--primary);
}

.btn-secondary::before,
.btn-secondary::after {
    content: "";
    width: 0;
    height: 1px; /* Thickness of the line */
    background-color: var(--color--primary); /* Color of the line */
    transition: all 0.15s ease-in-out;
}

.btn-secondary::before,
.btn-primary::before {
    justify-self: end;
}

.btn-secondary:hover,
.btn-primary:hover {
    letter-spacing: 4px;
}

.btn-secondary:hover::before,
.btn-secondary:hover::after,
.btn-primary:hover::before,
.btn-primary:hover::after {
    content: "";
    width: 80%; /* Fixed width of the line */
}

/*--------- Tables ---------*/

table {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    border-radius: var(--rounded-box);
    border: 1px solid var(--color--secondary);
    padding: 4px;
}
table thead {
    background-color: var(--color--secondary);
}

table thead tr th {
    color: var(--color--dark);
    text-align: left;
    padding: 8px;
    font-weight: 500;
}

table tbody tr {
    border: 1px solid var(--color--primary);
    margin: 1rem;
    background-color: none;
}

table tbody tr:hover {
    background-color: var(--color--light);
}
table tbody tr td {
    color: var(--color--dark);
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid var(--color--secondary);
    text-wrap: nowrap;
    max-width: 30ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

table tbody tr td .table-badge {
    width: fit-content;
    padding: 2px 8px;
    border: var(--border-elem) solid var(--color--primary);
    border-radius: var(--rounded-elem);
}
table tbody tr td .image-cell {
    display: flex;
    gap: 5px;
}
table tbody tr td .image-cell .table-image {
    aspect-ratio: 3/4;
    width: 3rem;
    object-fit: cover;
    display: block;
    border-radius: var(--rounded-box);
}
table tbody tr td .action-btn {
    display: inline;
    margin-right: 0.5rem;
    border-radius: var(--rounded-elem);
    height: 2rem;
    aspect-ratio: 1/1;
    padding: 0.3rem;
    background: var(--color--primary);
    cursor: pointer;
    stroke: var(--color--light);
}

/*--------- Quick Styles ---------*/

.w-full {
    width: 100%;
}

/* ------- Scroll Bar ------- */

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
}

::-webkit-scrollbar-thumb {
    background: var(--color--primary);
}

::-webkit-scrollbar-thumb:hover {
    background: #7e836f;
}

/* ------- Swiper (Specific Library Styles) ------- */

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 30px !important;
}

/* -------- Media Queries (Responsive) --------- */

@media (max-width: 768px) {
    * {
        font-size: 15px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 17px;
    }
    .hide-ssmall {
        display: none;
    }
}

/* ------ User Selection (Browser Specific) ------ */
::-moz-selection {
    color: var(--selection-text);
    background: var(--color--selection);
}

::selection {
    color: var(--selection-text);
    background: var(--color--selection);
}
